<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Virtual Prediction</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

  <nav class="nav-bar">
    <div class="large-12 columns">
      <div class="logo-container columns">
          <img class="logo" src="/images/logo-2.png" alt="">
      </div>
        <!-- <a href="/">ANALYSIS</a>
        <a href="/">BLOG</a> -->
      <div class="buttons-container">
          <div class="tab-container">
            <a class="tab" href="/">ABOUT</a>
            <a class="tab" href="/">MARKETS</a>
          </div>
          <a class="header-colored" href="/"><i class="fa fa-sign-in"></i> Log In</a>
          <a class="header-bordered" href="/"><i class="fa fa-plus-square"></i> Sign Up</a>
      </div>
    </div>

  </nav>

<div class="landing-header">
  <div class="hero-box">
    <h1 class="hero-message">Virtual Prediction: Idea Futures</h1>
      <div class="buttons-box">
        <a href="/markets/">Get Started</a> <a class="bordered" href="#">Simple Intro?</a>
      </div>
  </div>
</div>
