<% include partials/landing-header %> <!-- Notice the header file is different -->
  <div class="container">
    <div class="large-12 columns">
      <p>Hello World</p>
    </div>
  </div>

<% include partials/footer %>
