<% include partials/landing-header %> <!-- Notice the header file is different -->
<section class="large-12 columns intro-container">
  <div class="large-10 large-centered columns">
      <div class="large-4 medium-4 columns">
        <img class="workflow" src="/images/workflow.png" alt="">
      </div>
      <div class="large-8 medium-8 columns">
        <h2 class="text-center">Lorem ipsum dolor sit</h2>
        <p>Morbi auctor porta purus. Vestibulum porttitor lacus et interdum vestibulum. Fusce viverra consectetur posuere. Vestibulum elit nibh, facilisis at risus eu, imperdiet tincidunt orci. Vestibulum elit nibh, facilisis at risus eu, imperdiet tincidunt orci. Cras eleifend tellus sit amet arcu blandit, id tincidunt dui vehicula. Cras placerat lectus eget lectus feugiat, vitae consectetur tortor tincidunt. Pellentesque malesuada libero quis blandit fringilla. Nam eu condimentum tellus, eget tempus purus. Ut eros quam, rhoncus nec interdum vitae, hendrerit in nunc. Vestibulum vehicula felis et arcu egestas porttitor. Nulla iaculis tincidunt nunc, sit amet ultricies ipsum mattis volutpat.</p>
      </div>
  </div>
</section>

<section class="large-12 columns markets-container">
    <!-- <h2 class="market-tagline text-center">MARKETS</h1> -->

    <div class="large-12 columns">
      <div class="text-box">
        <div class="large-4 medium-4 columns">
          <img src="/images/market-1.jpg" alt="">
        </div>
        <div class="large-8 medium-8 columns">
          <h4 class="text-center">TRUMP VS HILLARY</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta non urna a placerat. Sed blandit mi sit amet justo pellentesque, eu aliquam est hendrerit. Integer ac felis tortor. Morbi auctor porta purus. Vestibulum porttitor lacus et interdum vestibulum. Fusce viverra consectetur posuere. Vestibulum elit nibh, facilisis at risus eu, imperdiet tincidunt orci. Cras eleifend tellus sit amet arcu blandit, id tincidunt dui vehicula.</p>
          <a class="market-button" href="">Join Market</a>
        </div>
      </div>
    </div>

    <div class="large-12 columns">
      <div class="text-box">
        <div class="large-8 medium-8 columns">
          <h4 class="text-center">Lorem ipsum dolor sit amet</h4>
          <p>Suspendisse lobortis varius consectetur. Duis molestie sollicitudin mattis. Maecenas tristique dictum porttitor. Aliquam nec dictum nunc. Duis mattis vitae nisl at imperdiet. Phasellus accumsan a purus id scelerisque. Sed lobortis enim mi. Integer est urna, auctor at ultrices non, interdum in enim. Fusce sed orci felis. Vivamus ultricies euismod mollis. Etiam venenatis, leo ac finibus consectetur, odio lorem rutrum ante, eget ultrices turpis quam in arcu. Mauris sed lorem fringilla, malesuada neque in, porta odio. Nulla facilisi.</p>
          <a class="market-button" href="">Join Market</a>
        </div>
        <div class="large-4 medium-4 columns">
          <img src="/images/market-2.jpg" alt="">
        </div>
      </div>
    </div>


    <div class="large-12 columns">
      <div class="text-box">
        <div class="large-4 medium-4 columns">
          <img src="/images/market-3.jpg" alt="">
        </div>
        <div class="large-8 medium-8 columns">
          <h4 class="text-center">Lorem ipsum dolor sit amet</h4>
          <p>Vestibulum vel dapibus nulla, nec egestas nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean at sagittis ante, varius aliquam est. Maecenas scelerisque, magna quis dapibus porttitor, lacus lorem facilisis neque, id efficitur sapien diam vitae sapien. Nulla facilisi. Donec mi nisi, iaculis eu nunc at, dapibus venenatis lacus. Vivamus ornare at orci nec pretium. Sed at mauris nisi. Donec sollicitudin, libero eget faucibus dictum, nisi quam commodo ex, quis faucibus lacus libero gravida diam. Integer molestie, urna a tincidunt viverra, urna urna dapibus purus, eu ultricies justo augue eu nulla. Cras quis tincidunt orci. Nam vitae dignissim felis, id feugiat lorem. Praesent at cursus arcu.</p>
          <a class="market-button" href="">Join Market</a>
        </div>
      </div>
    </div>


</section>

<% include partials/footer %>
