<% include partials/header %>
<section class="show-bg">
  <nav class="nav-bar">
    <div class="large-12 nav-bar-inner columns">
      <div class="logo-container columns">
        <a class="logo-text" href="/">Dodona</a>
      </div>
        <!-- <a href="/">ANALYSIS</a>
        <a href="/">BLOG</a> -->
      <div class="buttons-container">
          <div class="tab-container">
            <a class="tab" href="#about">ABOUT</a>
            <a class="tab" href="#get-started">MARKETS</a>
          </div>
          <a class="header-colored" href="/"><i class="fa fa-sign-in"></i> Log In</a>
          <a class="header-bordered" href="/"><i class="fa fa-plus-square"></i> Sign Up</a>
      </div>
    </div>
  </nav>

  <div class="show-message-box">
    <div class="show-message">

      <h3 class="text-center"> <br> SHAKE UP THE INDUSTRY</h3>
          <p class="text-center">DISTRUPTIVE TECHNOLOGY</p>
      <p class="text-center">An innovation that creates a new market and value network.</p>
    </div>
  </div>
</section>

<section class="large-12 columns market-container">
  <div class="row-1">
    <div class="large-4 columns">
      <img src="/images/uber.jpg" alt="">
      <a class="buy-button" href="/login/">Buy at 0.57</a>
      <a class="sell-button" href="/login/">Sell at 0.43</a>
    </div>
    <div class="large-8 columns">
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">News</a></li>
        <li class="tabs-title"><a href="#panel2">Twitter</a></li>
        <li class="tabs-title"><a href="#panel2">Analytics</a></li>
        <li class="tabs-title"><a href="#panel2">Exprets</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h3>Will the female uber drivers increase by the end of 2017?</h3>
          <table>
            <table >
            	<tbody>
            		<tr>
            			<td class="short-columns">Trading start </td>
            			<td > </td>
            		</tr>
            		<tr>
            			<td class="short-columns">Trading end</td>
            			<td> </td>
            		</tr>
            		<tr>
            			<td class="short-columns">Event date </td>
            			<td> </td>
            		</tr>
            		<!-- <tr>
            			<td class="short-columns"> </td>
            			<td> </td>
            		</tr>
            		<tr>
            			<td class="short-columns"> </td>
            			<td> </td>
            		</tr> -->
            	</tbody>
            </table>
            <p><b>Contract Details:</b> Prior to the release of bitcoin there were a number of digital cash technologies starting with the issuer based ecash protocols of David Chaum [2] and Stefan Brands. Adam Back developed hashcash, a proof-of-work scheme for spam control. The first proposals for distributed digital scarcity based cryptocurrencies were Wei Dai's b-money and Nick Szabo's bit gold. </p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="large-12 columns">
  <div class="followers-container">
    <div class="row-1">
      <h3>Followers</h3>
      <div class="followers">
        <div class="right">
          <div class="followers-box">
            <img src="/images/follower-1.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.403<br />
              Total Earning: <i class="fa fa-dollar"></i>1.403 <i class="fa fa-angle-up"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-2.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.73<br />
              Total Earning: <i class="fa fa-dollar"></i>2.373 <i class="fa fa-angle-down"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-3.jpg" alt="">
            <p>
              Sell <i class="fa fa-dollar"></i>0.24<br />
              Total Earning: <i class="fa fa-dollar"></i>1.543 <i class="fa fa-angle-up"></i>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="large-12 columns market-container">
  <div class="row-1">

    <div class="large-8 columns">
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">News</a></li>
        <li class="tabs-title"><a href="#panel2">Twitter</a></li>
        <li class="tabs-title"><a href="#panel2">Analytics</a></li>
        <li class="tabs-title"><a href="#panel2">Exprets</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h3>Will the self-driving vehicles exceeds one thousand  in montreal by the end of 2017? </h3>
          <table>
            <table >
            	<tbody>
            		<tr>
            			<td class="short-columns">Trading start </td>
            			<td > </td>
            		</tr>
            		<tr>
            			<td class="short-columns">Trading end</td>
            			<td> </td>
            		</tr>
            		<tr>
            			<td class="short-columns">Event date </td>
            			<td> </td>
            		</tr>
            		<!-- <tr>
            			<td class="short-columns"> </td>
            			<td> </td>
            		</tr>
            		<tr>
            			<td class="short-columns"> </td>
            			<td> </td>
            		</tr> -->
            	</tbody>
            </table>
            <p><b>Contract Details:</b> Prior to the release of bitcoin there were a number of digital cash technologies starting with the issuer based ecash protocols of David Chaum [2] and Stefan Brands. Adam Back developed hashcash, a proof-of-work scheme for spam control. The first proposals for distributed digital scarcity based cryptocurrencies were Wei Dai's b-money and Nick Szabo's bit gold. </p>
          </div>
        </div>
    </div>
    <div class="large-4 columns">
      <img src="/images/auto.jpg" alt="">
      <a class="buy-button" href="/login/">Buy at 0.75</a>
      <a class="sell-button" href="/login/">Sell at 0.25</a>
    </div>
  </div>
</section>

<section class="large-12 columns">
  <div class="followers-container">
    <div class="row-1">
      <h3 class="text-right">Followers</h3>
      <div class="followers move-right">
        <div class="followers-box">
          <img src="/images/follower-1.jpg" alt="">
          <p>
            Buy <i class="fa fa-dollar"></i>0.403<br />
            Total Earning: <i class="fa fa-dollar"></i>1.403 <i class="fa fa-angle-up"></i>
          </p>
        </div>
        <div class="followers-box">
          <img src="/images/follower-2.jpg" alt="">
          <p>
            Buy <i class="fa fa-dollar"></i>0.73<br />
            Total Earning: <i class="fa fa-dollar"></i>2.373 <i class="fa fa-angle-down"></i>
          </p>
        </div>
        <div class="followers-box">
          <img src="/images/follower-3.jpg" alt="">
          <p>
            Sell <i class="fa fa-dollar"></i>0.24<br />
            Total Earning: <i class="fa fa-dollar"></i>1.543 <i class="fa fa-angle-up"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="large-12 columns market-container">
  <div class="row-1">
    <div class="large-4 columns">
      <img src="/images/bitcoin.jpg" alt="">
      <a class="buy-button" href="/login/">Buy at 0.64</a>
      <a class="sell-button" href="/login/">Sell at 0.36</a>
    </div>
    <div class="large-8 columns">
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">News</a></li>
        <li class="tabs-title"><a href="#panel2">Twitter</a></li>
        <li class="tabs-title"><a href="#panel2">Analytics</a></li>
        <li class="tabs-title"><a href="#panel2">Exprets</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h3>Price of bitcoin to be more than $1200 by the end of 2016?</h3>
          <table>
            <table >
            	<tbody>
            		<tr>
            			<td class="short-columns">Trading start </td>
            			<td > </td>
            		</tr>
            		<tr>
            			<td class="short-columns">Trading end</td>
            			<td> </td>
            		</tr>
            		<tr>
            			<td class="short-columns">Event date </td>
            			<td> </td>
            		</tr>
            		<!-- <tr>
            			<td class="short-columns"> </td>
            			<td> </td>
            		</tr>
            		<tr>
            			<td class="short-columns"> </td>
            			<td> </td>
            		</tr> -->
            	</tbody>
            </table>
            <p><b>Contract Details:</b> Prior to the release of bitcoin there were a number of digital cash technologies starting with the issuer based ecash protocols of David Chaum [2] and Stefan Brands. Adam Back developed hashcash, a proof-of-work scheme for spam control. The first proposals for distributed digital scarcity based cryptocurrencies were Wei Dai's b-money and Nick Szabo's bit gold. </p>
            <hr>
          </div>
        </div>
    </div>
  </div>

</section>

<section class="large-12 columns">
  <div class="followers-container">
    <div class="row-1">
      <h3>Followers</h3>
      <div class="followers">
        <div class="followers-box">
          <img src="/images/follower-1.jpg" alt="">
          <p>
            Buy <i class="fa fa-dollar"></i>0.403<br />
            Total Earning: <i class="fa fa-dollar"></i>1.403 <i class="fa fa-angle-up"></i>
          </p>
        </div>
        <div class="followers-box">
          <img src="/images/follower-2.jpg" alt="">
          <p>
            Buy <i class="fa fa-dollar"></i>0.73<br />
            Total Earning: <i class="fa fa-dollar"></i>2.373 <i class="fa fa-angle-down"></i>
          </p>
        </div>
        <div class="followers-box">
          <img src="/images/follower-3.jpg" alt="">
          <p>
            Sell <i class="fa fa-dollar"></i>0.24<br />
            Total Earning: <i class="fa fa-dollar"></i>1.543 <i class="fa fa-angle-up"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">News</a></li>
  <li class="tabs-title"><a href="#panel2">Twitter</a></li>
  <li class="tabs-title"><a href="#panel2">Analytics</a></li>
  <li class="tabs-title"><a href="#panel2">Exprets</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
</div> -->
<% include partials/footer %>
