<% include partials/header %>
<section class="show-bg">
  <nav class="nav-bar">
    <div class="large-12 nav-bar-inner columns">
      <div class="logo-container columns">
        <a class="logo-text" href="/">Dodona</a>
      </div>
        <!-- <a href="/">ANALYSIS</a>
        <a href="/">BLOG</a> -->
      <div class="buttons-container">
          <div class="tab-container">
            <a class="tab" href="/feedback/">ABOUT</a>
            <a class="tab" href="/feedback/">MARKETS</a>
            <a class="tab" href="/feedback/">FEEDBACK</a>
          </div>
          <a class="header-colored" href="/login/"><i class="fa fa-sign-in"></i> Log In</a>
          <a class="header-bordered" href="/login/"><i class="fa fa-plus-square"></i> Sign Up</a>
      </div>
    </div>
  </nav>

  <div class="show-message-box">
    <div class="show-message">

      <h3 class="text-center"> <br> SHAKE UP THE INDUSTRY</h3>
          <p class="text-center">DISTRUPTIVE TECHNOLOGY</p>
      <p class="text-center">An innovation that creates a new market and value network.</p>
    </div>
  </div>
</section>

<section class="large-12 columns market-container">

    <div class="large-4 strip-padding columns">
      <img src="/images/uber.jpg" alt="">
      <a class="buy-button" href="/login/">Buy at 0.57</a>
      <a class="sell-button" href="/login/">Sell at 0.43</a>
    </div>

    <div class="large-8 columns">
      <h3>Will the female uber drivers increase by the end of 2017?</h3>
      <ul class="tab">
        <li><a href="javascript:void(0)" id="defaultOpen" class="tablinks" onclick="openCity(event, 'info')">INFO</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'graph')">GRAPHS</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'twitter')">TWITTER</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'expers')">EXPERTS</a></li>
      </ul>

    <div id="info" class="tabcontent">
      <p>Uber Technologies Inc is the maker of transportation app Uber, which enables customers to book drivers using their own cars. It was founded by Travis Kalanick and Garrett Camp in 2009 with the app released in June 2010. Only 14% of U.S. Uber drivers are women – a little higher than the 12.7% of U.S. taxi drivers and chauffeurs that are women and much higher than the 1% of New York City cabbies that are women. Competitors Lyft and Sidecar have more than twice Uber’s proportion of female drivers – 30% and 40%, respectively — but are still not recruiting them at the same rate as men.Last month, the company pledged to create 1 million driver jobs for women by 2020, a promise that was accompanied by a “global partnership” with UN Women and a rosy video highlighting women at the wheel.</p>
    </div>

    <div id="graph" class="tabcontent">
      <img src="/images/1.png" alt="">
    </div>

    <div id="twitter" class="tabcontent">
    </div>

    <div id="experts" class="tabcontent">
    </div>

  </div>
</section>

<section class="large-12 bg-grey columns">
  <div class="followers-container js--waypoint-right-1">
      <div class="followers">

          <div class="followers-box">
            <img src="/images/follower-22.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.403<br />
              Total Earning: <i class="fa fa-dollar"></i>1.403 <i class="fa fa-angle-up"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-11.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.73<br />
              Total Earning: <i class="fa fa-dollar"></i>2.373 <i class="fa fa-angle-down"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-22.jpg" alt="">
            <p>
              Sell <i class="fa fa-dollar"></i>0.24<br />
              Total Earning: <i class="fa fa-dollar"></i>1.543 <i class="fa fa-angle-up"></i>
            </p>
          </div>
          <h3 class="tag-line">are currently following..!</h3>
      </div>
    </div>
</section>

<section class="large-12 columns market-container">

    <div class="large-8 columns">
      <h3>Will the self-driving vehicles exceeds one thousand  in montreal by the end of 2017?</h3>
      <ul class="tab">
        <li><a href="javascript:void(0)" id="defaultOpen-2" class="tablinks" onclick="openCity(event, 'ino-2')">INFO</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'grap2')">GRAPHS</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'twittr-2')">TWITTER</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'exper-2')">EXPERTS</a></li>
      </ul>

    <div id="info-2" class="tabcontent">
      <p>An autonomous car, also known as a driverless car, self-driving car and robotic car, is an automated or autonomous vehicle capable of fulfilling the main transportation capabilities of a traditional car. As an autonomous vehicle, it is capable of sensing its environment and navigating without human input. Google's self-driving cars, of which there are usually a dozen on the roads of California and Nevada at any given time, have now logged 700,000 miles of awesome accident-free autonomous driving. The featured Prius, which starts at around $24,000, is optioned up with a $75,000 to $80,000 Velodyne LIDAR system, visual and radar sensors estimated to cost about $10,000, and a nearly $200,000 GPS array. Not to mention the cost of the driving computer and software.</p>
    </div>

    <div id="graph-2" class="tabcontent">
      <img src="/images/1.png" alt="">
    </div>

    <div id="twitter-2" class="tabcontent">
    </div>

    <div id="experts-2" class="tabcontent">
    </div>
  </div>

  <div class="large-4 strip-padding columns">
    <img src="/images/auto.jpg" alt="">
    <a class="buy-button" href="/login/">Buy at 0.57</a>
    <a class="sell-button" href="/login/">Sell at 0.43</a>
  </div>
</section>


<section class="large-12 bg-grey columns">
  <div class="followers-container-2">
      <div class="followers js--waypoint-left">
        <h3 class="tag-line">are currently following..!</h3>

          <div class="followers-box">
            <img src="/images/follower-11.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.73<br />
              Total Earning: <i class="fa fa-dollar"></i>2.373 <i class="fa fa-angle-down"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-22.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.73<br />
              Total Earning: <i class="fa fa-dollar"></i>2.373 <i class="fa fa-angle-down"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-22.jpg" alt="">
            <p>
              Sell <i class="fa fa-dollar"></i>0.24<br />
              Total Earning: <i class="fa fa-dollar"></i>1.543 <i class="fa fa-angle-up"></i>
            </p>
          </div>

      </div>
    </div>
</section>

<section class="large-12 columns market-container">

    <div class="large-4 strip-padding columns">
      <img src="/images/bitcoin.jpg" alt="">
      <a class="buy-button" href="/login/">Buy at 0.57</a>
      <a class="sell-button" href="/login/">Sell at 0.43</a>
    </div>
    <div class="large-8 columns">
      <h3>Will the self-driving vehicles exceeds one thousand  in montreal by the end of 2017?</h3>
      <ul class="tab">
        <li><a href="javascript:void(0)" id="defaultOpen-2" class="tablinks" onclick="openCity(event, 'inf-2')">INFO</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'grap-2')">GRAPHS</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'twittr-2')">TWITTER</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'exper-2')">EXPERTS</a></li>
      </ul>

    <div id="info-2" class="tabcontent">
      <p>Prior to the release of bitcoin there were a number of digital cash technologies starting with the issuer based ecash protocols of David Chaum [2] and Stefan Brands. Adam Back developed hashcash, a proof-of-work scheme for spam control. The first proposals for distributed digital scarcity based cryptocurrencies were Wei Dai's b-money and Nick Szabo's bit gold.</p>
    </div>

    <div id="graph-2" class="tabconent">

    </div>

    <div id="twitter-2" class="tabontent">
    </div>

    <div id="experts-2" class="tabcontnt">
    </div>
  </div>
</section>


<section class="large-12 bg-grey columns">
  <div class="followers-container">
      <div class="followers js--waypoint-right-2">

          <div class="followers-box">
            <img src="/images/follower-22.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.403<br />
              Total Earning: <i class="fa fa-dollar"></i>1.403 <i class="fa fa-angle-up"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-11.jpg" alt="">
            <p>
              Buy <i class="fa fa-dollar"></i>0.73<br />
              Total Earning: <i class="fa fa-dollar"></i>2.373 <i class="fa fa-angle-down"></i>
            </p>
          </div>
          <div class="followers-box">
            <img src="/images/follower-22.jpg" alt="">
            <p>
              Sell <i class="fa fa-dollar"></i>0.24<br />
              Total Earning: <i class="fa fa-dollar"></i>1.543 <i class="fa fa-angle-up"></i>
            </p>
          </div>
          <h3 class="tag-line">are currently following..!</h3>
      </div>
    </div>
</section>




<% include partials/footer %>
