*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  box-sizing: inherit;
}
html {
    background-color: #fff;
    color: #6f6969;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
h1{
  font-family: 'Lato', sans-serif;
}

  /*-----------------Landing Header Page --------------------*/

.landing-header{
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('images/3.jpg');
  background: -o-linear-gradient(left, rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('images/3.jpg');
  background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('images/3.jpg');
  background-size: cover;
  background-position: center;
}
.hero-box{
  position: relative;
  width: 520px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.hero-message{
  font-size: 3em;
  line-height: 60px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
}
.buttons-box{
  margin-top: 20px;
}
.hero-box a{
  background: #333f7b;
  padding: 10px 25px;
  border-radius: 20px;
  color: #fff;
  font-family: "Lato";
  margin-top: 20px;
  font-size: 15px;
}
.disclaimer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
  padding-right: 25px;
}
  /*-----------------Markets Page --------------------*/

  .market-tagline {
    color: grey;
  }
