*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  box-sizing: inherit;
}
html {
    background-color: #fff;
    color: #6f6969;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
.strip-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row-1{
  max-width: 1180px;
  display: block;
  margin: 0 auto;
}
table {
  margin-bottom: 0!important;
}
  /*-----------------Landing Header Page --------------------*/
.nav-bar{

}
.nav-bar a{
  font-size: 14px;
  font-family: "lato";
  color: #000;
  margin-right: 20px;
  line-height: 70px;
  letter-spacing: 1px;
}
a.logo-text{
  font-size: 30px;
  color: #fff;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}
.logo-container{
  display: inline-block;
  text-align: center;
  width: 20%;
}
.nav-bar .tab-container{
  margin-right: 65px;
  display: inline;
}
.nav-bar .tab-container a{
  color: #fff;
}
.tab-container{
  width: 70%;
}
.buttons-container{
  display: inline-block;
  float: right;
}
.nav-bar .buttons-container .header-colored{
  background: #459693;
  padding: 5px 23px;
  color: #fff;
  border-radius: 5px;
  font-weight: lighter;
}
.nav-bar .buttons-container .header-bordered{
  border: 2px solid #459693;
  padding: 3px 18px;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
}
.nav-bar-inner{
  background: rgba(0,0,0,0.2)
}
.js--waypoint-1{
  opacity: 0;
}
.js--waypoint-1.animated{
  opacity: 1;
  animation-delay: 2.5s;
  animation-duration: 1.5s;
}
.landing-header{
  height: 85vh;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/bg.jpg');
  background: -o-linear-gradient(left, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/bg.jpg');
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/bg.jpg');
  background-size: cover;
  background-position: center;
}
.hero-box{
  position: relative;
  width: 630px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-message{
  font-size: 3em;
  line-height: 60px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
}
.buttons-box{
  margin-top: 20px;
  text-align: center;
}
.hero-box a{
  background: #459693;
  padding: 10px 25px;
  border-radius: 20px;
  color: #fff;
  font-family: "Lato";
  margin-top: 20px;
  font-size: 15px;
}
.hero-box .bordered {
  background: none;
  border: 2px solid #459693;
  transition: all 0.5s;
}
.bordered:hover{
  background: #459693;
}
.intro-container{
  background: #fff;
  padding: 100px 0;
}
.intro-container h2{
  color: #000;
}
.icon-container img{
  width: 36%;
}
.js--waypoint-2{
  opacity: 0;
}
.js--waypoint-2.animated{
  opacity: 1;
}
.icon-container h2{
  font-family: "Raleway";
  font-size: 30px;
  line-height: 37px;
  margin-top: 20px;
}
.icon-container p{
  text-align: justify;
  font-size: 18px;
}
.head-small{
  padding-top: 9px;
  width: 28% !important;
  display: block;
  margin: 0 auto;
}
.workflow{
  padding-top: 20px;
  width: 67%;
  display: block;
  margin: 0 auto;
}
.markets-container {
  padding: 60px 0;
}
.econ-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/econ-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 405px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.tech{
  background: url("/images/tech.jpg");
  background-size: cover;
  background-position: center;
  height: 405px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.start-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/start-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 405px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.start-bg:hover {
}
.text-box {
  padding: 50px;
}
.text-box h4 {
  font-family: "Raleway";
  font-size: 40px;
}
.market-button{
  border: 2px solid #459693;
  padding: 4px 20px;
  color: #459693;
  border-radius: 20px;
  font-size: 13px;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  width: 170px;
  text-align: center;
  transition: all 0.2s ease-in;
}
.market-button:hover{
  background:#459693;
  color: #fff;
}

.disclaimer{
  position: absolute;
  right: 0;
  left: 0;
  font-size: 15px;
  padding-right: 25px;
}

  /*-----------------Show Page --------------------*/
.show-bg{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/show-header2.jpg");
  background-attachment: fixed;
  height: 410px;
  background-size: cover;
  background-position: center;
}
.show-message-box{
  position: relative;
  width: 520px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show-message-box h3, .show-message-box p{
  color: #fff;
  font-family: "Raleway";
}
.show-message-box h3 {
  font-size: 40px;
}

.market-container {
  padding: 0px 50px;
  padding-bottom:  0px;
}
.padding-top-1{
  padding-top: 30px;
}
.market-container h3{
  font-family: "Raleway";
  font-size: 25px;
}
.tabs-panel.is-active {
  display: block;
  padding: 9px !important;
}

.buy-button, .sell-button {
  display: inline-block;
  text-align: center;
  padding: 7px 30px;
  width: 49%;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 15px;
  color: #fff;
  font-family: "Raleway";
  transition: all 0.2s ease-in;
}
.buy-button {
  background: #4ac7c7;
}
.buy-button:hover {
  background: #6a9839;
  color: #fff;
}
.sell-button {
  background: #de5757;
}
.sell-button:hover {
  background: #9a5f3b;
  color: #fff;
}
.short-columns{
  padding: 0px 11px;
  border: 1px solid #d0d0d0;
  width: 20%;
  font-size: 16px;
  font-family: "Raleway";
}
.followers img{
  width: 100px;
  border-radius: 100%;
}

.followers p1{
  text-align: center;
}

.followers .fa-angle-up{

}
.fa-angle-up:before{
  color: #4ac7c7;
  font-weight: bold;
  position: relative;
  padding-left: 5px;
  font-size: 25px;
}

.fa-angle-down:before{
  color: #de5757;
  font-weight: bold;
  position: relative;
  padding-left: 5px;
  font-size: 25px;
}

.fa-dollar:before{
  font-size: 12px;
}
.followers .fa-arrow-circle-down {
  color: red;
}

.followers-container {
  padding: 0px 55px;
}
.followers-container h3{
  font-size: 26px;
}
.followers-box{
  display: inline-block;
}
.move-right{
  float: right;
}
.tabs li a{
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway";
}
td {
    border: 1px solid #d0d0d0;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #70b7cc;
}
  /*-----------------Animation --------------------*/

  .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.typed-cursor {
  display: none;
}
@media only screen and (min-width: 800px) and (max-width: 1025px){
  .hero-box{
    left: 30%;
  }

}
